* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    transition: .3s ease all;
    background: linear-gradient(to right,#8dc6ed,#979de0);
}

.burbuja {
    border-radius: 50%;
    background:#fff;
    opacity: .3;
    position: absolute;
    bottom: -100;
    z-index: -1;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 3s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 3s;
    animation-delay: 2s;
 }

 .burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
 }

 .burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
 }

@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

body.dark {
    background: linear-gradient(to right,#01131f,#0a126c);
    color: #ffffff;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#nav {
    background: linear-gradient(to right,#8dc6ed,#979de0);
    position: fixed;
    width: 100%;
    text-align: center;
}

body.dark #nav {
    background: linear-gradient(to right,#01131f,#0a126c);
}

#menu-icon {
    text-decoration: none;
    display: none;
    font-size: 50px;
    color: #000000;
}

body.dark #menu-icon {
    color: #ffffff;
}

#nav ul li {
    list-style: none;
    display: inline-block;
}

#nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 150%;
    color: #000000;
}

.letters {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    overflow: hidden;
    transition: 0.2s;
}

.letters:hover {
    background: #32eba9;
    box-shadow: 0 0 10px #32eba9, 0 0 40px #32eba9, 0 0 80px #32eba9;
    transition-delay: 1s;
}

.letters span {
    position: absolute;
    display: block;
}

.span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #32eba9);
}

.letters:hover .span1 {
    left: 100%;
    transition: 1s;
}

.span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #32eba9);
 }

 .letters:hover .span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #32eba9);
 }

 .letters:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #32eba9);
 }

 .letters:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

body.dark #nav ul li a {
    color: #ffffff;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin-left: 10px;
    top: -20px;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #ffffff;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background:#F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active {
    background: orange;
    color: #000000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.header-content {
    width: auto;
    text-align: center;
    padding-top: 60px;
}

.header-content img {
    width: 250px;
    border-radius: 100%;
}

.tittle-CV {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
.tittle {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.text {
    padding: 1rem;
    font-size: 1.3rem;
}

article {
    display: grid;
    gap: 10px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div a {
    color: #000000;
}

body.dark div a {
    color: #ffffff;    
}

div a:hover {
    color: rgba(128, 128, 128, 0.581);
}

body.dark div a:hover {
    color: rgba(128, 128, 128, 0.581);
}

aside a {
    color: #000000;
}

body.dark aside a {
    color: #ffffff;
}

aside a:hover {
    color: rgba(128, 128, 128, 0.581);
}

body.dark aside a:hover {
    color: rgba(128, 128, 128, 0.581);
}

#contacto ul {
    display: flex;
    justify-content: center;
}

#contacto li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}

#contacto ul li a {
    color: #000000;
}

body.dark #contacto ul li a {
    color: #ffffff;
}

#contacto ul li a:hover {
    color: rgba(128, 128, 128, 0.581);
}

body.dark #contacto ul li a:hover {
    color: rgba(128, 128, 128, 0.581);
}

@media screen and (max-width: 499px) {

    #nav-letters {
        display: none;
    }

    .grid-4, .grid-2 {
        grid-template-columns: 1fr;
    }
    
    #contacto {
        font-size: 60%;
    }
    
    #menu-icon {
        display: flex;
        justify-content: left;
        font-size: 30px;
        margin: 10px;
    }
    
    nav > ul > li {
        display: flex;
        flex-direction: column;
        width: 30vh;
        justify-content: flex-start;
        margin: 3% 0;
    }
    
    .switch {
        margin-left: 35%;
    }

    .header-content {
        padding-top: 50px;
    }
}

@media screen and (max-width: 786px) and (min-width: 500px) {

    .grid-4, .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    .header-content {
        padding-top: 80px;
    }
    
    #nav-letters {
        display: block;
    }

    #menu-icon {
        display: none;
    }
    #contenedor {
        margin: auto;
    }

    .header-content {
        padding-top: 120px;
    }
}

@media screen and (max-width: 865px) and (min-width: 787px){
    .switch {
        top: 0px;
    }

    .header-content {
        padding-top: 90px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 866px){

    .grid-4, .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
    
    #contacto {
        font-size: 60%;
    }

    #nav-letters {
        display: block;
    }

    #menu-icon {
        display: none;
    }
}